* {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Header */
header {
  background-color: #293f50;
  height: 30vh;
  max-width: 100vw;
}
.header-flex {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 25vh;
}
header .home a {
  display: block;
}
header .home {
  text-align: left;
  font-size: 48px;
  font-weight: 100;

  color: #fff;
}
header .nav-area {
  font-weight: 400;
  font-size: 14px;
  align-items: right;
}
header .nav-area a {
  display: inline-block;
  margin-right: 5px;
}
header a {
  color: #fff;
}
header a:hover {
  color: #648880;
}
header h4 {
  font-weight: 300;
  font-size: 21px;

  color: #648880;
}
nav {
  margin-top: 10px;
}
/* welcome section -homepage */

.welcome {
  background-color: #293f50;
  height: 45vh;
  max-width: 100vw;
  border: 2px solid #293f50; /* this fixes the issue of the margin between this section and the header */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lato";
  text-align: center;
}
@media screen and (max-width: 600px) {
  .welcome {
    height: 70vh;
  }
  .welcome .btn {
    width: 10%;
  }
}
.welcome h2 {
  color: #648880;
  font-size: 36px;
  font-weight: 300;
}
.welcome p {
  font-size: 24px;
  font-weight: 100;
  line-height: 34px;
}
.welcome .btn {
  background-color: #293f50;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 13px;
  width: 20%;
}
.welcome a {
  display: block;
  z-index: 2;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 8px;
}
.welcome .btn:hover {
  background-color: #fff;
  color: #293f50;
  z-index: 1;
}
.welcome a:hover {
  color: #293f50;
  padding: 5px;
  font-size: 18px;
}
/* card section homepage */
.content {
  display: flex;
  flex-direction: row;

  align-items: center;
  height: 70vh;
  max-width: 70%;
  padding: 5px;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    height: auto;
  }
}
.content .card {
  flex: 1;

  margin: 20px;
  padding: 5px;
}
.content .card h4 {
  font-size: 14px;
  color: #a9b2b9;
  font-weight: 400;
}
.content .img {
  border-radius: 8px;
}
.content img {
  background-color: #293f50;
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
  border-radius: 8px;
}
.content .card-desc a {
  font-size: 21px;
  font-weight: 300;
  color: #888888;
}
.content .card-desc a:hover {
  color: #a9b2b9;
}
.content .card-desc p {
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}
/* speakers page styles */
.tag-line {
  background-image: linear-gradient(to right, #a1d3b0, #f5f1d3);
  height: 35vh;
  max-width: 100vw;
  /* border: 2px solid #293f50; /* this fixes the issue of the margin between this section and the header */
  color: #648880;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "lato";
  text-align: center;
  margin-bottom: 5%;
}
@media screen and (max-width: 600px) {
  .tag-line {
    margin-bottom: 10%;
  }
}
.tag-line h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
}
.tag-line p {
  color: #888888;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
}
.speakers {
  width: 70%;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction: row;
}
.speakers .description {
  flex: 3;
}
.speakers .speaker-img {
  flex: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.speakers h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  color: #648860;
  margin-top: 10px;
  margin-bottom: 10px;
}
.speakers h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #a9b2b9;
}
.speakers p {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #888888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speakers img {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
}
.speakers .speaker-img a {
  display: block;
  color: #888888;
  margin: 5px;
}
.speakers .speaker-img a:hover {
  color: #a9b2b9;
}
/* schedule styling */
.schedule {
  display: flex;
  width: 80%;
  margin: auto;
}
table {
  width: 70%;
  margin: 20px auto 30px auto;
  table-layout: auto;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 15px;
  width: 300px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  color: #888888;
  list-style: 22px;
}
tr:last-child td {
  border-bottom: 0;
}
th {
  font-size: 14px;
  font-weight: 400;
  color: #a9b2b9;
  line-height: 22px;
  padding: 5px;
}
/* footer */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #293f50;
  padding-top: 10px;
  min-height: 15vh;
  max-width: 100vw;
}
footer p {
  margin-top: 10px;
  color: #648880;
  font-size: 12px;
}
footer a {
  color: #fff;
  padding: 8px;
  font-size: 14px;
}
footer a:hover {
  color: #648880;
}
